<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		JlU5ms+Ze8KtU0bsogWosZRedIMdSqxxyvvP4qc/CT4=
		</data>
		<key>appIconHash</key>
		<data>
		9CQED1r9iEbylIKTrPH0maUC0IH0mTe7TPJS0Uaj0Z4=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
