<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		pnpByLx51dqRe1BR8fDT9a60tjuiRrNUapYe96PH2TE=
		</data>
		<key>appIconHash</key>
		<data>
		PLloqYIIC+HXpd+Y3ElnOowFLSZC73cwt3U87luHw90=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
